.root {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;  
}

// #webgl {
//   position: relative;
//   right:  calc(-50% + 50vh);
//   top: -15vh;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }

.webgl-container {
  height: 100%;
  width: 75%;
  // margin-top: -15vh;
  // overflow: hidden;
}

.info-container {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  padding-left:  50px;
  display: flex;
  flex-direction: column;
}

#webgl {
  height: 100%;
  // width: 100%;
}

.title {
  width: 100%;
}

.title h1 {
  font-size: 24px;
  text-align: center;
}

.title input {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #cccccc;
  border: 2px solid #cccccc;
  transition: opacity .4s, background-color .4s, border .4s;  
  cursor: pointer;
}

.title input:hover {
  background-color: #747474;
}

.title input:checked {
  background-color: black;
}

.checkbox-container {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.keys {
  height: 50px;
  margin-left: 10px;
}

.title h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}